<md-card class="md-whiteframe-4dp">
  <md-card-header>
    <i class="material-icons">search</i>
    <md-card-header-text class="md-title">
      Search
    </md-card-header-text>
    <span flex></span>
    <md-button ng-click="" class="md-icon-button" ng-show="vm.results.length">
      <md-tooltip md-direction="left">Show search</md-tooltip>
      <i class="material-icons">keyboard_arrow_down</i>
    </md-button>
  </md-card-header>
  <md-card-content>
    <p class="md-body-2">
      <i> Use the search bar below to query</i>
    </p>
    <!--
    Options checkboxes
    -->
    <div layout="row" layout-align="start center">
      <div class="md-hue-1">
        Advance Options
      </div>
      <div flex>
      </div>
      <md-button class="md-icon-button" ng-hide="vm.showOptions" ng-click="vm.showOptions = true;">
        <md-tooltip md-direction="top">show filters</md-tooltip>
        <i class="material-icons">keyboard_arrow_down</i>
      </md-button>
      <md-button class="md-icon-button" ng-show="vm.showOptions" ng-click="vm.showOptions = false;">
        <md-tooltip md-direction="top">hide filters</md-tooltip>
        <i class="material-icons">keyboard_arrow_up</i>
      </md-button>
    </div>
    <div layout="column"
      ng-show="vm.showOptions" ng-init="vm.showOptions = false"> <!--start custom options-->
      <md-checkbox ng-model="vm.neosOnly" aria-label="NEO only">
        <md-tooltip md-direction="right">Show NEO objects</md-tooltip>
        NEO only
      </md-checkbox>
      <md-input-container>
        <label>Result Limit</label>
        <md-select ng-model="vm.limit">
          <md-option ng-repeat="limit in vm.limits track by $index" value="{{limit}}">
            {{limit}}
          </md-option>
        </md-select>
      </md-input-container>
    </div> <!--end custom dropdown options-->
    <form ng-submit="vm.search(vm.query)">
      <md-input-container md-no-float class="hide-error-msg">
        <label>Search</label>
        <input ng-model="vm.query">
      </md-input-container>
      <div layout="row">
        <md-button class="md-raised" ng-click="vm.search(vm.query)">Search</md-button>
        <md-button class="md-raised" ng-click="vm.query = ''">Clear Search</md-button>
        <md-button class="md-raised" ng-click="vm.clear()" ng-show="vm.results.length">Clear Search</md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
<!--use a directive to make this re-usable-->
<div ng-repeat="result in vm.results track by $index">
  <neo-basic neo="result"></neo-basic>
</div>
