<md-card class="md-whiteframe-4dp animated slideInRight" ng-show="!vm.loading" ng-cloak>
  <md-card-header>
      <i class="material-icons">home</i>
    <md-card-header-text class="md-title">
      Home
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p class="md-body-2"><i>See below for the number of asteroids that will
    be considered NEOs</i></p>
    <div layout="column">
      <!--<md-button ng-click="vm.showMonthTable($event, vm.monthlyData)">-->
      <md-button>
        <div layout="row">
          <div class="md-subhead">Monthly: <b>{{vm.monthly}}</b></div>
          <span flex></span>
          <i class="material-icons">event</i>
        </div>
      </md-button>
      <md-button ng-click="vm.showWeekTable($event, vm.weeklyData)">
        <div layout="row">
          <div class="md-subhead">Weekly: <b>{{vm.weekly}}</b></div>
          <span flex></span>
          <i class="material-icons">view_week</i>
        </div>
      </md-button>
      <md-button ng-click="vm.showDayTable($event, vm.dailyData)">
        <div layout="row">
          <div class="md-subhead">Daily: <b>{{vm.daily}}</b></div>
          <span flex></span>
          <i class="material-icons">view_day</i>
        </div>
      </md-button>
    </div>
    <md-divider></md-divider>

    <div layout="row" layout-align="space-around" hide><!--loading bar-->
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-card-content>
</md-card>
<!--
The Daily information card goes her
-->
<md-card class="animated slideInRight">
  <md-card-content>
    <p class="md-body-2">
      Todays date:
    </p>
    <p class="md-body-2">
      {{vm.todaysDate}}
    </p>
  </md-card-content>
</md-card>
<!--some testing functions-->
<md-card>
  <md-card-content layout="row">
    test buttons:
    <md-button ng-click="vm.printDatabase()">
      printDatabase
    </md-button>
    <md-button ng-click="vm.test()">
      test
    </md-button>
    <md-button ng-click="vm.clearCache()">
      clearCache
    </md-button>
  </md-card-content>
</md-card>
<md-progress-linear md-mode="indeterminate" ng-show="vm.loading"></md-progress-linear>
