<md-card class="md-whiteframe-4dp" ng-cloak ng-hide="loading">
  <md-card-header>
      <i class="material-icons">home</i>
    <md-card-header-text class="md-title" layout="row">
      <div>
        Home
      </div>
      <span flex></span>
      <div class="md-subhead">
        {{vm.todaysDate}}
      </div>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p class="md-body-2"><i>See below for the number of asteroids that will
    be considered NEOs</i></p>
    <div layout="column">
      <!--<md-button ng-click="vm.showMonthTable($event, vm.monthlyData)">-->
      <md-button>
        <div layout="row" ng-click="vm.showMonthTable($event, vm.monthlyData)">
          <div class="md-subhead">Monthly: <b>{{vm.monthly}}</b></div>
          <span flex></span>
          <i class="material-icons">event</i>
        </div>
      </md-button>
      <md-button ng-click="vm.showWeekTable($event, vm.weeklyData)">
        <div layout="row">
          <div class="md-subhead">Weekly: <b>{{vm.weekly}}</b></div>
          <span flex></span>
          <i class="material-icons">view_week</i>
        </div>
      </md-button>
      <md-button ng-click="vm.showDayTable($event, vm.dailyData)">
        <div layout="row">
          <div class="md-subhead">Daily: <b>{{vm.daily}}</b></div>
          <span flex></span>
          <i class="material-icons">view_day</i>
        </div>
      </md-button>
    </div>
  </md-card-content>
</md-card>
<!--<div ng-show="loading" layout="column" layout-align="center center">-->
<!--    <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>-->
<!--</div>-->
<interesting-neo ng-hide="loading" neo="vm.bestNeo"></interesting-neo> <!--custom directive-->
<!--<md-card>-->
<!--  test-->
<!--  <md-button ng-click="vm.test()">getUser</md-button>-->
<!--</md-card>-->