<md-card class="md-whiteframe-4dp" ng-cloak>
  <md-card-header>
    <i class="material-icons">live_help</i>
    <md-card-header-text class="md-title">
      About
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p class="md-body-1">
      These are the technologies used to create this project.
      The project is hosted on github
      <a href="https://github.com/bradtaniguchi/chrome-neo">
        here.
      </a>
    </p>
  </md-card-content>
</md-card>
<md-card ng-repeat="tech in vm.technologies">
  <md-card-content>
    <p class="md-body-2">
      {{tech.title}}
    </p>
    <p class="md-body-1">
      {{tech.description}}
    </p>
    <a href="{{tech.link}}">Site link</a>
  </md-card-content>
</md-card>
