<md-card class="md-whiteframe-4dp">
  <md-card-header>
    <i class="material-icons">show_chart</i>
    <md-card-header-text class="md-title">
      Stats
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <p class="md-body-2">
      <i>Below is a chart of this weeks NEO asteroids use the filter + dropdown
         to show different views</i>
    </p>
    <canvas id="doughnut" class="chart chart-doughnut"
    height="100" width="100"
      chart-data="vm.data">
    </canvas>
  </md-card-content>
</md-card>
