<md-dialog flex aria-label="Graph Dialog">
  <!--https://material.angularjs.org/latest/demo/dialog-->
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
      {{vm.tableType}}
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.refresh()">
        <i class="material-icons">refresh</i>
      </md-button>
      <md-button class="md-icon-button" ng-click="vm.close()">
          <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content> <!--table goes here-->
    <canvas id="lineGraph" class="chart chart-line" chart-data="vm.chart.data"
    chart-labels="vm.chart.labels" chart-options="vm.chart.options"
    chart-hover=""></canvas>

    <!--<md-button class="md-icon-button" ng-click="vm.test()">
          <i class="material-icons">code</i>-->
      </md-button>
  </md-dialog-content>
  <md-dialog-actions>
    <md-input-container>
          <label>Graph type</label>
          <md-select ng-model="vm.chosenChartOption" ng-change="vm.updateChart(vm.chosenChartOption)">
            <md-option ng-repeat="option in vm.chartOptions" ng-value="option">
              {{option}}
            </md-option>
          </md-select>
    </md-input-container>
    <md-button class="raised" ng-click="vm.close()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
