<md-dialog flex aria-label="Graph Dialog">
  <!--https://material.angularjs.org/latest/demo/dialog-->
  <md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
      {{vm.modalLabel}}
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.refresh()">
        <i class="material-icons">refresh</i>
      </md-button>
      <md-button class="md-icon-button" ng-click="vm.close()">
          <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content> <!--table goes here-->
    <canvas id="lineGraph" class="chart chart-line" chart-data="vm.chart.data"
    chart-labels="vm.chart.labels" chart-options="vm.chart.options"
    chart-hover=""></canvas>
  </md-dialog-content>
  <md-dialog-actions>
    <md-checkbox ng-show="true"> <!--TODO add flag IF we want to limit data by size-->
      LimitOutput
      <md-tooltip aria-label="Hide some NEO's" ng-model="vm.hideNeos"
      md-direction="bottom">Hide some NEOs in graph output</md-tooltip>
    </md-checkbox>
    <span flex></span>
    <md-input-container>
      <label>Graph type</label>
      <md-select ng-model="vm.chosenChartOption" ng-change="vm.updateChart(vm.chosenChartOption)">
        <md-option ng-repeat="option in vm.chartOptions" ng-value="option">
          {{option}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-button class="raised" ng-click="vm.close()">Close</md-button>
  </md-dialog-actions>
</md-dialog>
